<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">SHOPHEHEHE</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Người dùng
                            </a>
                            <ul class="dropdown-menu">
                                <li><button type="button" class="dropdown-item" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop">
                                        Thêm người dùng
                                    </button></li>
                                <li><a class="dropdown-item" href="listDataUser">Danh sách người dùng</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="listPrs">Sản phẩm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-lg-none bg-danger bg-gradient rounded-1 text-center"
                                href="Login.html">Đăng xuất</a>
                        </li>
                    </ul>
                </div>
                <ul
                    class="navbar-right bg-danger bg-gradient navbar-nav me-auto mb-2 ps-1 pe-1 mb-lg-0 rounded-4 d-none d-lg-block">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="Login.html">Đăng xuất</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="row bg-primary-subtle p-3 text-center rounded shadow m-3">
        <h1 class="fw-bolder">Danh sách người dùng</h1>
    </div>

    <div class="row p-2">
        <div class="d-flex flex-row mb-3">
            <form class="col-11" method="get" action="filter">
                <div class="row">
                    <div class="col-5">
                        <input name="username" type="text" class="form-control" placeholder="Tên người dùng"
                            aria-label="First name">
                    </div>
                    <div class="col-5">
                        <input name="email" type="text" class="form-control" placeholder="Email" aria-label="Last name">
                    </div>
                    <div class="col-2 ">
                        <button class="btn btn-primary" type="submit">
                            <div class="d-flex flex-row">
                                <ion-icon name="search-outline"></ion-icon>
                            </div>
                        </button>
                    </div>
                </div>
            </form>
            <form class="col" method="get" action="listDataUser">
                <button class="btn btn-secondary" type="submit">
                    <div class="d-flex flex-row">
                        <ion-icon name="refresh-circle-outline" class="me-2"></ion-icon>
                        Tất cả
                    </div>
                </button>
            </form>
        </div>

    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-bordered border-light-subtle shadow-sm">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Email</th>
                        <th scope="col">Họ và tên</th>
                        <th scope="col">Ảnh đại diện</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#if userData}}
                    {{#each userData}}
                    <tr>
                        <th class="col" scope="row">{{@index}}</th>
                        <td class="col">{{email}}</td>
                        <td class="col">{{name}}</td>
                        <td class="col text-center">
                            <div class="col">
                                <img src="uploads/{{image}}"
                                    class="mb-1 rounded-circle border border-2 border-dark-subtle" width="70"
                                    height="70" alt="">
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-outline-secondary text-center"
                                    style="height: 35px;width: 40px" data-bs-toggle="modal"
                                    data-bs-target="#change{{_id}}">
                                    <ion-icon name="camera"
                                        style="height: 15px;width: 15px;"></ion-icon>
                                </button>
                                <div class="modal fade" id="change{{_id}}" tabindex="-1"
                                    aria-labelledby="exampleModalLabel1" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel1">Thay ảnh đại diện
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form method="post" action="changeImg" enctype="multipart/form-data">

                                                    <div class="mb-3">
                                                        <label for="formFile" class="form-label">Người dùng:
                                                            {{name}}</label>
                                                        <input class="form-control" name="imgRes" type="file"
                                                            id="formFilene" accept="image/*" required>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Hủy</button>
                                                        <button id="changeimage" name="userNum" value={{_id}}
                                                            class="btn btn-primary" type="submit">Đồng
                                                            ý</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="col-1">
                            {{!-- button update --}}
                            <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop{{_id}}">
                                <ion-icon name="create-outline"></ion-icon>
                            </button>
                            <div class="modal fade" id="staticBackdrop{{_id}}" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content border border-primary border-4 bg-light-subtle rounded-3">
                                        <div class="modal-header bg-primary text-white rounded-top-1">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Sửa nhân viên</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="update" method="post">
                                                <div class="mb-3">
                                                    <label for="exampleInputEmail2" class="form-label">Email:</label>
                                                    <input type="email" name="emailRes" class="form-control"
                                                        id="exampleInputEmail2" required value="{{email}}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="exampleInputPassword2" class="form-label">Mật
                                                        khẩu</label>
                                                    <input type="password" name="passRes" class="form-control"
                                                        id="exampleInputPassword2" required value="{{pass}}">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-check-label" for="exampleCheck2">Họ và
                                                        tên:</label>
                                                    <input type="text" name="nameRes" class="form-control"
                                                        id="exampleCheck2" required value="{{name}}">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Hủy</button>
                                                    <button name="idUpUser" value="{{_id}}" type="submit"
                                                        class="btn btn-primary">Xác
                                                        nhận</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {{!-- button delete --}}
                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                data-bs-target="#exampleModal{{_id}}">
                                <ion-icon name="trash-outline"></ion-icon>
                            </button>

                            <div class="modal fade" id="exampleModal{{_id}}" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa nhân viên</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Bạn có chắc chắn muốn xóa không?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Hủy</button>
                                            <form method="get" action="delete">
                                                <button name="userNum" value={{_id}} class="btn btn-primary"
                                                    type="submit">Đồng
                                                    ý</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                    {{else}}
                    <tr>
                        <p>Không có dữ liệu tìm kiếm.</p>
                    </tr>
                    {{/if}}
                </tbody>
            </table>
        </div>
    </div>
    {{!-- <div class="rol">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div> --}}
</div>
{{!-- modal them nhan vien --}}
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content border border-primary border-4 bg-light-subtle rounded-3">
            <div class="modal-header bg-primary text-white rounded-top-1">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Thêm người dùng</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="adduser" method="post">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email:</label>
                        <input type="email" name="emailRes" class="form-control" id="exampleInputEmail1" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Mật khẩu</label>
                        <input type="password" name="passRes" class="form-control" id="exampleInputPassword1" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-check-label" for="exampleCheck1">Họ và tên:</label>
                        <input type="text" name="nameRes" class="form-control" id="exampleCheck1" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-primary">Xác nhận</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>